<h1 class="mt-3">División de números</h1>

<form action="/divisionNumeros" method="post">
  <div class="form-group">
    <label for="numero">Ingrese un numero</label>
    <input type="text" name="numero" id="numero" class="form-control">
  </div>
  
  <button type="submit" class="btn btn-primary">Calcular</button>


</form>
